
h1 {
  text-align: center;
  display: block;
  margin: auto;
}

.lang-card-wide.mdl-card, .blog-card-wide.mdl-card {
  width: 512px;
  margin: 40px auto;
}

.lang-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://www.m5zn.com/newuploads/2014/04/21/jpg//m5zn_9cb045eca399cfe.jpg') center / cover;
}

.lang-card-wide, .blog-card-wide > .mdl-card__menu {
  color: #fff;
}

.lang-card-wide.mdl-card, .blog-card-wide.mdl-card {
  width: 512px;
}

.blog-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('http://cruxqs.com/slide/58cfc2a5e2bcfblog-green.jpg') center / cover;
}
